.sideTab{
  border:0px solid #3d98c0;
}
.sideBarDiv{
  width: 100px;
  flex-direction: column;
  color: rgb(133, 133, 133);
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 500;
}
.sideButtonSearch{
  width: 50px;
  height: 50px;
  border-color: #90CAF9;
  border-radius: 10px;
  border-width: 2px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right:10%;
  margin-bottom: 10%;
  background-color:#FFFFFF;
  align-items: center;
  justify-content: center;
}
.sideButtonSearch:hover{
  background-color:#90CAF9;
}
.sideButtonSummary{
  width: 50px;
  height: 50px;
  border-color: #90CAF9;
  border-radius: 10px;
  border-width: 2px;
  margin-left: 10%;
  margin-right:10%;
  margin-bottom: 10%;
  background-color:#FFFFFF;
  align-items: center;
  justify-content: center;
}
.sideButtonSummary:hover{
  background-color: #90CAF9;
}

.sideButtonSetting{
  width: 50px;
  height: 50px;
  border-color: #90CAF9;
  border-radius: 10px;
  border-width: 2px;
  margin-left: 10%;
  margin-right:10%;
  margin-bottom: 10%;
  background-color:#FFFFFF;
  align-items: center;
  justify-content: center;
}
.sideButtonSetting:hover{
  background-color: #90CAF9;
}
.insideTab{
  background-color:rgba(0,0,0,0.7);
  border-radius: 10px;
}